@media only screen and (max-width: 500px) {
  .mt-xs-misc{
    margin-top: 1rem;
  }

  .mb-xs-misc{
    margin-top: 1rem;
  }

  .mr-xs-misc{
    margin-top: 1rem;
  }

  .ml-xs-misc{
    margin-top: 1rem;
  }
  
}
